<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{#EVENTNAME}</title>
    <link
      rel="icon"
      href="../../../assets/images/favicon.svg"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="../../../assets/images/favicon.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../styles/events/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&family=Nunito&display=swap"
      rel="stylesheet"
    />
    <style>
      #gradient-canvas {
        position: fixed;
        min-height: 100vh;
        --gradient-color-1: #00eaff;
        --gradient-color-2: #3d3d3d;
        --gradient-color-3: #000000;
        --gradient-color-4: #1d002b;
        z-index: -1;
      }
    </style>
  </head>

  <body>
    <canvas id="gradient-canvas" data-js-darken-top data-transition-in></canvas>
    <div class="container">
      <main class="main">
        <div class="btn-wrapper">
          <img class="img1" src="./../../assets/images/faviconw.svg" alt="MS" />
          <img
            class="img2"
            src="./../../assets/images/arrow-left.svg"
            alt="Go Back"
          />
        </div>
        <section class="header">
          <div class="headerText">
            <h1>{#EVENTNAME}</h1>
            <div class="headerBtnContainer">
              <a id="regLink" target="_blank" href="{#EVENTREGISTRATIONLINK}">
                <button>Register</button>
              </a>
              <button id="ShareBtn">Share</button>
            </div>
          </div>
        </section>
        <section id="info" class="info">
          <div>
            <p class="venue">📍Venue</p>
            <p class="venue-value">COEP TECH</p>
          </div>
          <span></span>
          <div>
            <p class="prizes">🏆Prizes Worth</p>
            <p class="prizes-value">{#PRIZEPOOL}</p>
          </div>
        </section>
        <section id="sponsors" class="sponsors" {#SPONSORSTYLE}>
          <h2># Sponsors</h2>
          <div class="sponsorsContainer">{#SPONSORS}</div>
        </section>
        <section id="event" class="event">
          <h2># Event</h2>
          <p>{#EVENTDESCRIPTION}</p>
        </section>
        <section id="structure" class="structure">
          <h2># Structure</h2>
          <div>{#EVENTSTRUCTURE}</div>
        </section>
        <section id="rules" class="rules">
          <h2># Rules</h2>
          <ol>
            {#EVENTRULES}
          </ol>
        </section>
        <section id="faqs" class="faqs">
          <h2># FAQs</h2>
          {#EVENTFAQS}
        </section>
      </main>
    </div>
    <script src="../../lib/main.js"></script>
    <script src="../../lib/gradient.js"></script>
    <script>
      function copyWindowLocationToClipboard() {
        const inputElement = document.createElement("input");
        inputElement.value = window.location.href;
        document.body.appendChild(inputElement);
        inputElement.select();
        document.execCommand("copy");
        document.body.removeChild(inputElement);
        document.getElementById("ShareBtn").innerText = "Link Copied!!!";
        setTimeout(() => {
          document.getElementById("ShareBtn").innerText = "Share";
        }, 2000);
      }
      document
        .getElementById("ShareBtn")
        .addEventListener("click", copyWindowLocationToClipboard);

      let loc = window.location.href + "#";
      document.getElementById("regLink").addEventListener("click", (e) => {
        if (document.getElementById("regLink") == loc) {
          e.preventDefault();
          window.alert("Registration link will be available soon");
        }
      });

      const backBtn = document.querySelector(".img2");
      backBtn.addEventListener("click", () => {
        window.location.href = "/events/{#MODULENAME}/";
      });
    </script>
  </body>
</html>
