/* Font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}


body {
  color: #272727;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

html,
body {
  background-color: #000032;
}

#gradient-canvas {
  position: fixed;
  z-index: -1;
  min-height: 100vh;
  --gradient-color-1: #0e04c3;
  --gradient-color-2: #2e0b7e;
  --gradient-color-3: #3b0a7a;
  --gradient-color-4: #5e0786;
}

.MSLogoLink {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.MSLogo {
  width: 20%;
  user-select: none;
  padding: 0 0 24px 0;
  margin: auto;
}

.main {
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 3.75rem;
  text-align: center;
  color: blanchedalmond;
  font-family: monospace;
}

h3 {
  font-size: 1.75rem;
  text-align: center;
  color: rgb(152, 142, 131);
  font-family: monospace;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-content: space-evenly;
  justify-content: center;
  gap: 3rem;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 25%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #363535 40%, #2e2621 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  color: cornflowerblue;
}